
@import 'mixins.scss';

html { 
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
	min-width: 1280px;
	max-width: 1280px;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f1f1f1;
  color: #000;
  font-size: 15px;
  line-height: 1.5;
}
#container {
	width: 80vw;
	height: 97vh;
	@include centre(x);
	.main-nav {
	  	display: flex;
	  	align-items: center;
	  	justify-content: space-between;
	  	height: 3vh;
	  	padding: 20px 0;
	  	font-size: 13px;
		margin-bottom: 10px;
		width: 100%;
		span {
			display:flex;
			width: 100%;
			align-items: center;
		}
		.logo { 
			max-width: 30vw;
			max-height:10vh;
		}
		.main-menu {
			flex: 1;
			margin-left: 20px;
		}
		ul {
			display: flex;
			li {
				text-align: center !important;
				padding: 15px;
				max-height: 80px;
				width: 16%;
				display: inline-block;
				span {
					text-align: center;
				}
				a { 
				text-decoration: none;
					&:hover {
						border-bottom: 1px solid black;
					}
					&:visited {
						color: #0000FF; 
					}
				}
			}
		}
	}
	.emp-nav {
		display: flex;
		.emp-menu {
			flex: 1;
		}
		ul {
			display: flex;
			li {
				padding: 0 10px;
				display: inline-block;
			}
		}
	}
}
.tacks {
  	display: grid;
  	grid-template-columns: repeat(4, 1fr);
  	grid-gap: 20px;
  	margin-bottom: 40px;
	div {
		position:relative;
		p {
			margin-bottom: 40px;
		}
		a {
			width: 100%;
			position: absolute;
			bottom: 0;
			line-height: 24px;
			&:hover {
				span {
					margin-left: 20px;
				}
			}
		}
		img { 
			flex: 1;
			width: 100%;
			margin-bottom: 20px;
	}
	}

}
footer {
	&.footer {
		background: #f2f2f2;
	  	color: #616161;
	  	font-size: 12px;
	  	padding: 20px 0;
		.footer-inner {
			max-width: 1100px;
		  	margin: 0 auto;
		  	padding: 0 20px 0 20px;
		  	display: flex;
		  	align-items: center;
		  	justify-content: space-between;
		}
		ul {
			display: flex;
			list-style: none;
			flex-wrap: wrap;
			li {
			  margin-right: 30px;
			  margin-bottom: 20px;
			}
		}

		div {
			margin-bottom: 20px;
		  	display: flex;
		  	align-items: center;
		}
	}
}
.follow {
	a { 
		text-decoration: none;
		width: 25px;
		height: 25px;
		line-height: 25px;
		text-align: center;
	}
	.fa-facebook {
		background: #3b5998;   
		color: white;  
	}
	.fa-twitter {
		color: white;   
		background: #00acee;   
	} 
}
.showcase {
  width: 100%;
  height: 400px;
  display: flex;
 background: url('https://i.ibb.co/zGSDGCL/slide1.png') no-repeat center center/cover;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
	p,h2 {
		margin-bottom:10px;
	}
}
.hero {
	@include centre();
	img { border:1px solid black;}
	text-align: center;
}
//coming soon
.comingsoon {
	p {
		&.small {
			width: 100%;

			font-size: 65%;
			margin-top: 10%;
			a {
				text-decoration: none;
				color: #000;
			}
		}
	}
}

.usr-bar {
	@include centre();
	width: 500px;
	position: absolute;
	background-color:#3f3f3f;
	table {
		padding: 10px;
		width: 100%;
		th { color: #fff;}
		td {
			width: 100%;
			input {
				width: 100%;
			}
			button { width: 100%;}
		}
	}
}
.hide {
	display: none;
}
#erroid {
	@include centre();
	width: 70vw;
	height: 50vh;
	background-color: #000;
	.bootloader {
		margin: 1em;
		text-align: left;
		width: 100%;
		height: 100%;
		color: forestgreen;
		@include centre();
		.sequence {
			margin-left: 1em;
			width: 100%;
		}
	}
}