.popup {
	@include center-xy();
	border:1px solid white;
		z-index: 9999999;
	width: max(60%);
	height: max(80%);
}
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');
@mixin abso-center{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.explorer{
  display: flex;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 7px;
  @include abso-center;
  overflow: hidden;
  box-shadow: 0 0px 55px 6px rgba(0,0,0,0.18);
  
  .left{
    position: absolute;
    width: 30%;
    height: 100%;
    overflow: hidden;
    .blurred{
      position: absolute;
      width: 110%;
      height: 110%;
      //background: url(https://www.beautifulmosque.com/PostImages/malacca-straits-mosque-in-malacca-malaysia-03.jpg);
      background-size: cover;
      filter: blur(10px);
      z-index: 1;
      margin: -5px -10px -10px -5px;
    }
    .top{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: linear-gradient(rgba(77, 65, 102, 0.95), rgba(25%, 22%, 35%, 0.9), rgba(77, 65, 102, 0.93));
      
      //LEFT SIDE COMMAND
      .navigation{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5vh;
        padding-left: 2vh;
        padding-top: 1vh;
        .lab{
          position: relative;
          display: inline-block;
          width: 3vh;
          height: 3vh;
          cursor: pointer;
          border-radius: 50%;
          margin-right: 6%;
          text-align: center;
          &:active{
            background: rgba(255,255,255,0.05);
          }
          .material-icons{
            font-size: 2vh;
            line-height: 3vh;
            color: rgba(255,255,255,0.9);
          }
        }
      }
      .folders{
        margin-top: 5vh;
        width: 100%;
        height: 82%;
        ul{
          font-weight: 300;
          list-style: none;
          padding: 2vh;
          li{
            color: white;
            font-size: 1.6vh;
            
            padding: 1vh 0.5vh;
            cursor: pointer;
            border-radius: 3px;
            font-weight: 400;
            .lab-accor{
              display: block;
              width: 100%;
              height: 100%;
              cursor: pointer;
              .arrow-accor{
                position: absolute;
                right: 1.5vh;
                transition: transform 0.5s;
              }
            }
            .material-icons{
              font-size: 2vh;
              padding-right: 2.7vh;
            }
            &:hover{
              background: rgba(255,255,255,0.07);
            }
          }
          ul{
            height: 0px;
            transition: height 0.3s;
            padding: 0.5vh 4vh;
            overflow: hidden;
            .active{
              color: #00B1FF;
              font-weight: 500;
              &:after{
                content: '';
                display: inline-block;
                background: #00B1FF;
                width: 0.2vh;
                height: 1.7vh;
                float: left;
                margin-left: -3vh;
                margin-top: 0.1vh;
              }
            }
          }
        }
      }
      .folder-info{
        position: relative;
        width: 100%;
        height: calc(18% - 5vh);
        .foldercap{
          position: relative;
          width: 80%;
          margin: auto;
          padding-top: 1vh;
          span{
            color: white;
            font-weight: 300;
            font-size: 1.4vh;
          }
          .left-si{
            position: absolute;
            left: 0;
          }
          .right-si{
            position: absolute;
            right: 0;
          }
        }
        .full-container{
          position: absolute;
          @include abso-center;
          width: 80%;
          height: 6px;
          border-radius: 10px;
          background: rgba(255,255,255,0.09);
          overflow: hidden;
          .full-stat{
            border-radius: 10px;
            position: absolute;
            height: 100%;
            background: #00B1FF;
            animation: bounce 1s forwards 0.2s ease-in-out;
          }
        }
      }
    }
  }
  
  .explorer-space{
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
	  padding-right: 1vw;
    .status{
      position: relative;
      width: 100%;
      height: 7%;
      padding-left: 1vh;
		border-bottom: 1px solid #dbd2cb;
      .tab{
        position: relative;
        display: inline-block;
        width: auto;
        margin: 1.1vh;
        padding-right: 1.8vh;
        font-size: 1.8vh;
        font-weight: 400;
        color: #999;
        border-right: 1px solid rgba(0,0,0,0.12);
        i{
          margin-right: 1.3vh;
          font-size: 2.5vh;
          display: inline-flex;
          vertical-align: middle;
        }
        .closetab{
          color: #ccc;
          font-size: 2vh;
          margin-right: 0;
          margin-left: 2vh;
        }
      }
      .active{
        color: #00B1FF;
        font-weight: 500;
      }
      .add-tab{
        display: inline-flex;
        vertical-align: middle;
        i{
          color: #ccc;
          font-size: 1.7vh;
        }
      }
      .bar-button{
        position: absolute;
        top: 0;
        right: 0;
        padding: 1.2vh 1.5vh;
        .resize{
          font-size: 1.5vh;
        }
        i{
          padding-left: 1vh;
          padding-right: 1vh;
          font-size: 1.7vh;
          font-weight: 500;
          color: #999;
          cursor: pointer;
        }
        .close-icon:hover{
          color: #ff4d4d;
        }
      }
    }
    .file-space{
      position: relative;
      display: flex;
      width: 100%;
      padding-left: 2vh;
      padding-top: 2vh;
      flex-wrap: wrap;
      align-content: flex-start;
      height: 80%;
      .folder-icon{
        position: relative;
        float: left;
        width: 6vh;
        height: auto;
        margin-right: 2vh;
        margin-bottom: 1vh;
        border-radius: 4px;
        text-align: center;
        cursor: default;
        &:hover{
          background: rgba(0, 177, 255, 0.1);  
        }
        
        i{
          color: #ffbf00;
          font-size: 4vh;
          display: block;
        }
        span{
          font-size: 1.4vh;
          color: #333;
          word-wrap: break-word;
        }
      }
    }
    .bottominfo{
		border-top: 1px solid #dbd2cb;
      width: 100%;
      height: 8vh;
      position: absolute;
      bottom: 0;
      background: #EEE;
    }
  }
}
.security {
	text-align: center;
	width: 100%;
	height: 100%;
	background:#fff;
	form {
		@include center-xy();
	}
}